<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Add Song</h3>
<p>
    <a th:href="@{/blogs}">
        Back to Songs list
    </a>
</p>
<div id="form">
    <form th:action="@{/blogs/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Artist</label>
            <input type="email" th:field="*{description}"/>
        </div>
        <div>
            <label>Category</label>
            <input type="text" th:field="*{author}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>