<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog List</title>
    <style>
        table {
            border: 1px solid #000;
        }

        th, td {
            border: 1px dotted #555;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<form action="" method="get">
    <select onchange="this.form.submit()"  name="lang">
        <option value="" disabled selected>Choose Language</option>
        <option value="en">English</option>
        <option value="vi">Viet Nam</option>
    </select>
</form>

<p>
    <a th:href="@{/blogs}" th:text="#{home.title}" >

    </a>
</p>
<p >
    <button th:href="@{/blogs/create}" th:text="#{add.title}" th:onclick="'javascript:create();'">
    </button>
</p>

<form >
    <label>Search by Author</label>
    <input type="text" name="author">
    <input type="submit" onclick="search()" th:value="#{search.title}" >
</form>
<form>
    <label>Filter by Ecommerce</label>
    <select onchange="this.form.submit()" th:name="ecomID" th:value="${ecomID}">
        <option value="" disabled selected>Choose Ecommerce</option>
        <th:block th:each="ecom : ${ecommerces}">
            <option th:value="${ecom.id}" th:text="${ecom.name}"></option>
        </th:block>

    </select>
    <div class="result1"></div>
</form >
      <table class="homeAJAX" >
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Topic</th>
              <th scope="col">Author</th>
              <th scope="col">Ecommerce</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
              <th scope="col">View</th>
          </tr>
          <tr th:each="b : ${blogs}">
              <td scope="col" th:text="${b.id}"></td>
              <td scope="col" th:text="${b.topic}"></td>
              <td scope="col" th:text="${b.author}"></td>
              <td scope="col" th:text="${b.eCommerce.getName()}"></td>
              <td scope="col" ><button th:text="#{edit.title}"  th:onclick="'javascript:showEdit(\''+ ${b.id} + '\');'"></button></td>
              <td scope="col" ><button th:text="#{delete.title}"  th:onclick="'javascript:showDelete(\''+ ${b.id} + '\');'"></button></td>
             <td>
                 <button th:text="#{view.title}" class="viewAjax" >

                 </button>
                 <input type="hidden" th:value="${b.id}">
             </td>

          </tr>

      </table>
      <div>
          <a th:href="@{'/blogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
          <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
          <a th:href="@{'/blogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
      </div>

<div class="result"></div>
</body>

<script>
    $(document).ready(function () {
           $(".viewAjax").click(function () {
               console.log("TESST");
            $.ajax({
                type: "GET",
                url: "/blogs/view/" + $(this).next().val(),
                dateType: "HTML",
                success: function (data) {
                    console.log(data)
                   $(".result").html(data);
                }

            })
           })
    })

    function showDelete(id) {
        console.log("Tesst")
        $.ajax({
            type: "GET",
            url: "blogs/" + id + "/delete",
            dateType: "HTML",
            success: function (data) {
                $(".result").html(data);
            }
        })
    }

    function  actionDelete(id) {
        console.log("Alo")
        $.ajax({
            type: "GET",
            url: "blogs/actionDelete/" + id,
            dateType: "HTML",
            success: function (data) {
                console.log("alo2")
                $(".result").html("")
                $(".homeAJAX").html(data);
            }
        })
    }

    function create() {
        $.ajax({
            type: "GET",
            url: "blogs/create",
            dateType: "HTML",
            success: function (data) {
                $(".result").html(data);
            }
        })
    }

    function actionCreate() {
        $.ajax({
            type: "GET",
            url: "blogs/save",
            dateType: "HTML",
            success: function (data) {
                $(".homeAJAX").html(data);
            },
        })
    }

    function showEdit(id) {
        $.ajax({
            type: "GET",
            url: "blogs/" + id + "/edit",
            dateType: "HTML",
            success: function (data) {
                console.log(data);
                $(".result").html(data);
            }
        })
    }



    // function search() {
    //       console.log("test")
    //     $.ajax({
    //         type: "GET",
    //         url: "blogs",
    //         dateType: "HTML",
    //         success: function (data) {
    //             console.log(data)
    //            $(".result").html(data);
    //         }
    //     })
    // }
</script>
</html>