<<!doctype html>
<html lang="en">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<div class="container-fluid">
  <div class="row bg-info p-xl-3">
    <div class="col-lg-3 col-md-6 col-sm-12 d-flex justify-content-center ">
      <img style="height: 32px; width: 32px"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Blackberry_Logo_without_wordmark.svg/1200px-Blackberry_Logo_without_wordmark.svg.png">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12"></div>
    <div class="col-lg-3 col-md-6 col-sm-12  d-flex justify-content-md-end"  >
      <p style="color: red" th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}">Sign in</a>
      </p>
      <div th:if="${#authorization.expression('isAuthenticated()')}">
        <h3 th:inline="text">Hello, <span th:text="${#authentication.name}"></span>!</h3>
        <a  th:href="@{/logout}">Logout</a>
      </div>
    </div>
  </div>
  <div class="row bg-light p-xl-3 d-flex justify-content-center">
    <div class=" col-md-6 col-lg-9 col-sm-12 d-flex justify-content-center ">
      <a class="navbar-brand fw-bold "  routerLink="/home">Home</a>
      <button class="navbar-toggler " type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <a class="navbar-brand"  routerLink="/employee/list">Employee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
      </button>

      <a class="navbar-brand" href="customer">Customer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <a class="navbar-brand" href="facility">Service</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <a class="navbar-brand" href="contract">Contract</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
      </button>
    </div>

  </div>
    <div class="row ">
      <div class="col-md-12 col-lg-1 col-sm-12  bg-danger h-100">
        <div class="row ">
          <div class="col-md-12 col-lg-12 col-sm-12 ">
            <a class="navbar-brand" href="#">Item One</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 ">
            <a class="navbar-brand" href="#">Item Two</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 h-100 ">
            <a class="navbar-brand" href="#">Item Three</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-11 col-sm-12  bg-white d-flex justify-content-center">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="row fixed-bottom">
      <div class="col-md-12 col-lg-12 col-sm-12  bg-success d-flex justify-content-center">
        <h3>CodeGym</h3>
      </div>
    </div>
  </div>

</body>
</html>>
