<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/bill}" th:object="${cart}" method="post">
    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Total Flower: <span th:text="${cart.countFlowerQuantity()}"></span></h3>
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr th:each="flower: ${cart.flowers}">
            <td th:text="${flower.getKey().name}"></td>
            <td>
                <a id="decrease_button"  th:href="@{/add/__${flower.getKey().id}__(action='sub')}" th:if="${flower.getValue() > 1 }"th:text="${'-'}" ></a>
                <span th:text="${flower.getValue()}"></span>
                <a id="increase_button" th:href="@{/add/__${flower.getKey().id}__(action='add')}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${flower.getKey().price}"></td>
            <td scope="col" ><a th:href="@{/flowers/{id}/delete(id=${flower.getKey().id})}">delete</a></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
</form>
</body>
</html>