<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body background="">
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blogs}">
        Back to Blog list
    </a>
</p>
<div id="form" >
    <form th:action="@{/blogs/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Topic</label>
            <input type="text" th:field="*{topic}"/>
            <td th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}">Name Error</td>
        </div>
        <div>
            <label>Author</label>
            <input type="text" th:field="*{author}"/>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</td>
        </div>

        <select th:name="ecomID" th:field="*{eCommerce.id}">
            <th:block   th:each="ecom : ${ecommerces}" >
                <option    th:value="${ecom.id}" th:text="${ecom.name}"></option>
            </th:block>
        </select>
        <input type="submit" value="Save"/>
    </form>
</div>
</body>
</html>