<form [formGroup]="register" (ngSubmit)="onSubmit()">

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$">
    <span *ngIf="register.controls.email.errors?.pattern" style="color: red">Emai sai dinh dang</span>
    <span *ngIf="register.controls.email.touched && register.controls.email.errors.required " style="color: red">Email required</span>
  </p>
  <div formGroupName="passwordGroup">
    <p>
      <label for="password">Password </label>
      <input type="password" id="password" name="password" formControlName="password" minlength="6">
          <span *ngIf="password.touched && password.errors?.required " style="color: red">Password required</span>
          <span *ngIf="password.errors?.minlength" style="color: red" >Password it nhat 6 ki tu</span>
    </p>
    <p>
      <label for="passwordConfirm">Comfirm Password </label>
      <input type="password" id="passwordConfirm" name="passwordConfirm" formControlName="passwordConfirm" minlength="6">
          <span *ngIf="passwordConfirm.touched && passwordConfirm.errors?.required " style="color: red">Password required</span>
          <span *ngIf="passwordConfirm.errors?.minlength" style="color: red" >Password it nhat 6 ki tu</span>
    </p>
    <div *ngIf="passwordGroup.errors?.passnotmatch" style="color: red">Mat khau khong trung nhau</div>
  </div>

  <p>
    <label for="country">Country </label>
    <select id="country" name="country" formControlName="country">
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>
  <p>
    <label for="age">Age </label>
    <input type="number" id="age" name="age" formControlName="age" min="18">
    <span *ngIf="register.controls.age.errors?.min" style="color: red">Khong du 18 tuoi</span>
  </p>
  <p>0
    <label for="gender">Gender </label>
    <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
    <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
  </p>
  <p>
    <label for="phone">Phone Number </label>
    <input type="text" id="phone" name="phone" formControlName="phone" pattern="^\+84\d{9,10}$">
    <span *ngIf="register.controls.phone.errors?.pattern" style="color: red">Phone bắt đầu với +84, và theo sau là 9 đến 10 chữ số</span>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>




