<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/songs}">
        Back to customer list
    </a>
</p>
<div id="detail">
    <div class="detail">
        <label>Name:</label>
        <label th:text="${song.name}"></label>
    </div>
    <div class="detail">
        <label>Artist:</label>
        <label th:text="${song.artist}"></label>
    </div>
    <div class="detail">
        <label>Categpru:</label>
        <label th:text="${song.category}"></label>
    </div>
    <div class="detail">
        <label>URL:</label>
<!--         <audio th:src="@{${song.url}}"  />-->
        <audio controls>
            <source th:src="@{${song.url}}" type="Media Type">
        </audio>
    </div>
</div>
</body>
</html>